html {
	background-color: antiquewhite;
}
.App {
	text-align: center;
	background-color: antiquewhite;
}

.header {
	background-color: white;
	opacity: 90%;
	background: rgb(227, 233, 240);
	background: -moz-linear-gradient(
		180deg,
		rgba(227, 233, 240, 1) 39%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(227, 233, 240, 1) 39%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(227, 233, 240, 1) 39%,
		rgba(0, 0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e9f0",endColorstr="#000000",GradientType=1);
	/* ff 3.6+ */
}
.header h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Pacifico', cursive;
	color: white;
}
.entry-card {
	display: flex;
	flex-wrap: wrap;
	width: 16em;
	margin: 1em auto;
}
.entry-image {
	padding: 1em;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.entry-card {
		display: flex;
		flex-wrap: wrap;
		width: 32em;
	}
}
