.App {
	text-align: center;
	background-color: antiquewhite;
}

.header {
	font-family: 'Pacifico', cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: white;
	/* ff 3.6+ */
}
.header h1 {
	color: white;
}
.entry-card {
	display: flex;
	flex-wrap: wrap;
	width: 16em;
	margin: 1em auto;
}
.entry-image {
	padding: 1em;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.entry-card {
		display: flex;
		flex-wrap: wrap;
		width: 32em;
	}
}
